<a href="https://colab.research.google.com/github/inchara-k-r/Python-from-Scratch-Part-1-/blob/main/PYTHON_py1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,World!")

Hello,World!

In [ ]:
print("My name is Inchara")

My name is Inchara

In [ ]:
#VARIABLES
a=10
b=20
print(a+b)

30

In [ ]:
a,b,c=10,20,30
print(a+b+c)

60

In [ ]:
a = b = c = 10
print(a+b+c)

30

In [ ]:
#variables should start with underscore or letters
_name="Inchara"
print(_name)

Inchara

In [ ]:
#DATATYPES
name="Inchara" #string
age = 20 #int
is_student= False #bool
weight = 58.7 #float
print(type(weight))
print(type(age))
print(type(is_student))
print(type(name))

is_student="yes"
print(type(is_student))


age_float = float(age)#conversion of type
print(age_float)


print(type(is_student))

s="100"
print(int(s)+age)

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'str'>
20.0
<class 'str'>
120

In [ ]:
#ARITHEMATIC OPERATORS
a = 10
b = 20
print(a + b) #add
print(b - a) #sub
print(a * b) #mult
print(b / a) #divide
print(b // a) #floor division
print(a % b) #modulus/remainder
print(a ** b) #exponential/power
print(a+b-a*b//a**b)

30
10
200
2.0
2
10
100000000000000000000
30

In [ ]:
#SWAP TWO VARIABLES
a=10
b=40
b=a
a=b
print(a+b)
print(b-a)

20
0

In [ ]:
print("Happy") #direct output

Happy

In [ ]:
age = input("age: ")  #asking input from user
print(age)

age: 12
12

In [ ]:
#ADDING TWO STRINGS THAT IS CONCATENATION
boy_name = input("boy_name: ")
girl_name = input("girl_name: ")
print(boy_name)
print(girl_name)
print(boy_name , girl_name)
print(boy_name +" loves " + girl_name)

boy_name: ram
girl_name: sita
ram
sita
ram sita
ram loves sita

In [ ]:
boy_name = input("boy_name: ")
boy_age = int(input("boy_age: "))
girl_name = input("girl_name: ")
girl_age = int(input("girl_age: "))

# abs refers to absolute value ,sometimes girl age may be more than boy
diff_age = abs(boy_age - girl_age)
print(boy_name)
print(girl_name)

print(boy_age)
print(girl_age)

print(diff_age)

#combining two strings
print(boy_name , girl_name)

#concatenation
print(boy_name +" loves " + girl_name + " and age difference is " + str(diff_age))

#formated string
print(f"{boy_name} loves {girl_name}.Age Difference is {diff_age}")

boy_name: rama
boy_age: 26
girl_name: sita
girl_age: 30
rama
sita
26
30
4
rama sita
rama loves sita and age difference is 4
rama loves sita.Age Difference is 4

In [ ]:
#String Manipulation(Concatenation and Repetation)

#Concatenation
first_name = "Inchara"
last_name = "Madaga"
full_name = first_name + " " + last_name
print(full_name)

#Repetation
message1 = "Warning! "
print(message*5)

Inchara Madaga
Warning! Warning! Warning! Warning! Warning!

In [ ]:
#STRING METHODS
#upper
message2 = "This is a Warning! "
print(message2.upper())

#Lower
print(message2.lower())

#Strip
print(message2.strip()*4) # space can be reduced by strip

#Replace
print(message2.replace("Warning","error"))

THIS IS A WARNING!
this is a warning!
This is a Warning!This is a Warning!This is a Warning!This is a Warning!
This is a error!

In [ ]:
#Length
print(len(message2))

19

In [ ]:
#index = position-1
name = "Inchara"
print(name[5])

#String Slicing
print(name[1:5])
print(name[:7])
print(name[5:])
print(name[:4])
print(name[-2])
print(name[1:7:3]) #3 is basically skipping letters


#Escape sequence(we use back slash)
a = "Inchara is \n a good girl"
b = "Inchara is \t a good girl"
print(a)
print(b)

r
ncha
Inchara
ra
Inch
r
na
Inchara is
 a good girl
Inchara is 	 a good girl